<h1 id="secciones_tags">Secciónes</h1>

<div class="container">
  <% @tags.each_slice(1) do |tags| %>
    <div class="row">
      <% tags.each do |tag| %>
        <div class="col-md-8" id="tagSection">
          <%= link_to tag.name, tag_path(tag) %>
          <!-- <p class="tagDescription"><%= truncate(tag.posts.first.description, length: 200) %></p> -->
          <p class="tagDescription"><%= truncate(tag.posts.first ? tag.posts.first.description : "glory glory man utd.", length: 200) %></p>
          <div class="col-mid-2" id="tagImageDiv"><img class="tagImage" src="<%= tag.posts.first.banner_image_url %>"></div>

          <% if author_signed_in? %>
          <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="footer">
  <h1></h1>
</div>
