<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-l">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Posts', tags_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if author_signed_in? %>
          <li class="list-group-item">
            <%= link_to 'mis posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href='/'>
      Academia<span class="light">Rails</span>
    </a>
    <!-- <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
&#9776;
</button> -->
<ul class="nav navbar-nav pull-sm-right hidden-xs-down">
  <li class="nav-item">
    <%= link_to 'Posts', tags_path, class: "nav-link #{yield(:blog_active)}" %>
  </li>
  <li class="nav-item">
    <%= link_to "About", about_path, class: "nav-link #{yield(:about_active)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact',contact_path, class: "nav-link #{yield(:contact_active)}" %>
  </li>
  <% if author_signed_in? %>
    <li class="nav-item">
      <%= link_to 'mis posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
    </li>
  <% elsif user_signed_in? %>
    <li class="list-group-item">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
    </li>
  <% else %>
          <li class="list-group-item">
            <%= link_to 'Login', new_user_session_path %>
          </li>
<!--           <li class="list-group-item">
            <%= link_to 'Sign Up', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %>
          </li> -->
          <!-- remove sign up during beta -->
  <% end %>
</ul>
</div>
</nav>
  </div>
